

    <h1><%= @pirate.name %></h1>
    <p><%= @pirate.weight %></p>
    <p><%= @pirate.height %></p>


    <h2><%= @ship1.name %></h2>
    <p><%= @ship1.type %></p>
    <p><%= @ship1.booty %></p>


  <h2><%= @ship2.name %></h2>
  <p><%= @ship2.type %></p>
  <p><%= @ship2.booty %></p>
